<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <title>log in page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand">
            <i></i>
        </a>

          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/profile/">O meu Perfil <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              </svg></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout/"> Logout<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-receipt-cutoff" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v13h-1V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51L2 2.118V15H1V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zM0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                <path fill-rule="evenodd" d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
              </svg></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/welcome"> Menu principal <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                  </svg></a>
              </li>

          </ul>
    </nav>

    <script>

        function diff(start_actual_time, end_actual_time, tarefaID ){
        console.log(start_actual_time)
        start_actual_time = new Date(start_actual_time);
        end_actual_time = new Date(end_actual_time);

        var diff = end_actual_time - start_actual_time;

        var diffSeconds = diff/1000;
        var HH = Math.floor(diffSeconds/3600);
        var MM = Math.floor(diffSeconds%3600)/60;

        var formatted = ((HH < 10)?("0" + HH):HH) + ":" + ((MM < 10)?("0" + MM):MM);

        $('#duracao_'+tarefaID).html(formatted);
    }

    </script>

    <div class="container py-5 my-5 centrar">

        <!-- Editable table -->
<div class="card">
    <input id="title" style='width: 100%;border:0;font-size: 25px;' class="card-header text-center font-weight-bold text-uppercase py-4" contenteditable="true" value='{{project.Nome}}'></input>
    <div class="card-body">
      <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center" id="tabelaEdit">
          <thead>
            <tr>
              <th class="text-center">Tarefa</th>
              <th class="text-center">Data de Inicio</th>
              <th class="text-center">Data de Fim</th>
              <th class="text-center">Duração</th>
              <th class="text-center">Utilizador</th>
              <th class="text-center">Remover</th>
            </tr>
          </thead>
          <tbody id='table_tbody'>
            {% for item in tasks %}
              <tr id='project_{{item.TarefaID}}'>
                <td class='pt-3-half' contenteditable='true'>{{item.Nome}}</td>
                <td class='pt-3-half' contenteditable='true'>{{item.horacomecada|date:"Y-m-d"}} {{item.horacomecada|time:"H:i:s"}}</td>
                <td class='pt-3-half' contenteditable='true'>{{item.horafinalizada|date:"Y-m-d"}} {{item.horafinalizada|time:"H:i:s"}}</td>
                <td id='duracao_{{item.TarefaID}}' class='pt-3-half' contenteditable='false'><script>diff('{{item.horacomecada|date:"Y-m-d"}} {{item.horacomecada|time:"H:i:s"}}', '{{item.horafinalizada|date:"Y-m-d"}} {{item.horafinalizada|time:"H:i:s"}}','{{item.TarefaID}}')</script></td>
                <td class='pt-3-half' ><div class='form-group'><select name="e{{item.TarefaID}}" class='form-control' id='exampleFormControlSelect1'><option>{{user}}</option><option>Rafael2</option></select></div></td>
                <td><span class='table-remove'><button type='button' class='btn btn-danger btn-rounded btn-sm my-0' onclick='remove({{item.TarefaID}});'>Remove</button></span></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button onclick='addLinha()' class="btn btn-primary" type="button">Adicionar Tarefa</button>
      <button onclick='update()' class="btn btn-success" type="button">Atualizar Tabela</button>
    </div>
  </div>
  <!-- Editable table -->
    </div>

    <br><br><br><br>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">
      <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <h5>2020 &copy; Planeamento e Gestão de Projeto | Group 07</h5>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
        </div>
    </footer>







</body>
</html>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>



    




function remove(id){
    $.ajax({url: "/deleteTarefa/?TarefaID="+id+"&ID_Projeto="+{{project.ID_Projeto}}, success: function(result){
      $('#project_'+id).remove();
    }});
};

function update(){
  var obj = []
  $('#table_tbody').children().each(function( index ) {
    console.log(this.id.split("_")[1]);
    obj[this.id.split("_")[1]] = { tarefa_id: this.id.split("_")[1], 0: this.children[0].innerHTML, 1: this.children[1].innerHTML, 2: this.children[2].innerHTML};


  });
  var myJSON = JSON.stringify(obj);
  console.log(obj)
  console.log(myJSON)
  $.post("/updateTarefa/",
  {
    json: myJSON,
    nomeprojeto: $('#title').val(),
    id_projeto: '{{project.ID_Projeto}}'
  },
  function(data, status){
  window.location.replace("/project/?ID_Projeto={{project.ID_Projeto}}");
  });
}


function addLinha() {

    $.post("/createTarefa/",
    {
      ID_Projeto: '{{project.ID_Projeto}}'
    },
    function(data, status){
        location.reload();
    });
}
</script>
